
/** RESET CODE **/
body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:focus, a:hover {
    text-decoration: none;
}
input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
p {
    margin:0;
}
ul {
    margin:0;
    padding:0;
}
label {
    margin:0;
}
a:focus, a:hover {
    text-decoration: none;
    outline: none
}
img {
    width: 100%;
}
/** RESET CODE **/

/** HEADER **/
.top-bar {
    padding: 15px 0;
    background-color: #edf1e6;
}
.logo {
    width: 50%;
    float: left;
    text-align: left;
    margin-top: 6px;
}
.logo a h3 {
    text-align: left;
    color: #000;
    font-size: 44px;
    margin-left: 13px;
}
.header-right {
    width: 50%;
    float: right;
    text-align: right;
}
.phone {
    width: 60%;
    float: left;
    margin-top: 8px;
}
.phone ul li {
    display: inline-block;
}
span.glyphicon.glyphicon-earphone.phone {
    color: #7bc475;
    font-size: 17px;
    top: 4px;
}
.social-icon-top {
    width: 40%;
    float: left;
}
.social-icon-top ul li {
    display: inline-block;
}
.social-icon-top ul li a {
    width: 50px;
    height: 50px;
    background:url("../img/img-sprite.png") no-repeat 0 0;
    display: inline-block;
    border: none;
}
.social-icon-top ul li a.google {
    background:url("../img/img-sprite.png") no-repeat -50px 0;
}
.social-icon-top ul li a.twitter {
    background:url("../img/img-sprite.png") no-repeat -100px 0;
}
.social-icon-top ul li a.facebook {
    background:url("../img/img-sprite.png") no-repeat -150px 0;
}
.social-icon-top ul li a.linkedin:hover {
    background:url("../img/img-sprite2.png") no-repeat 0 0;
}
.social-icon-top ul li a.google:hover {
    background:url("../img/img-sprite2.png") no-repeat -50px 0;
}
.social-icon-top ul li a.twitter:hover {
    background:url("../img/img-sprite2.png") no-repeat -100px 0;
}
.social-icon-top ul li a.facebook:hover {
    background:url("../img/img-sprite2.png") no-repeat -150px 0;
}
.total-navbar {
    background-color: #032f3e;
}
.navbar-default {
    background-color: #032f3e;
    border: none;
}
.navbar {
    border-radius: 0;
    margin: 0;
}
.navbar-right {
    float: none!important;
    margin-right: 0!important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #7bc475;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 23px 64px;
    border-right: 1px solid rgba(232, 232, 232, 0.2);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #7bc475;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #7bc475;
}
.navbar-toggle {
    border-radius: 0;
}
/** END OF HEADER **/

/** BANNER **/
.banner {
    background:url("../img/23.jpg");
    background-size: cover;
    min-height: 740px;
    text-align: center;
}
.banner h1 {
    padding-top: 220px;
    color: #74ff69;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 600;
}
.banner h3 {
    color: #ffffff;
    font-size: 40px;
    margin-top: 10px;
    letter-spacing: 3px;
}
.banner a {
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 50px 10px 20px;
    display: inline-block;
    margin-top: 50px;
    background:url("../img/arrow.png") no-repeat 151px 7px;
    background-size: 15%;
}
.banner a:hover {
    color: #74ff69;
    border: 3px solid #74ff69;
    background:url("../img/carrow.png") no-repeat 151px 7px;
    background-size: 15%
}
.modal-header {
    border: none;
    background: hsla(27, 5%, 33%, 0.27);
}
.modal-header {
    font-size: 20px;
    text-align: center;
}
.modal-body {
    padding: 0 25px 40px 30px;
    background:url("../img/23.jpg") no-repeat ;
    background-size: cover;
}
.modal-body p {
    font-size: 14px;
    line-height: 30px;
}
/** END BANNER **/

/** ABOUT **/
.about {
    padding: 75px 0;
    background-color: #edf1e6;
}
.about h3 {
    font-size: 35px;
    padding-bottom: 20px;
    color: #000;
    font-weight: 600;
}
.about h6 {
    font-size: 15px;
    color: #000;
    font-weight: 300;
    width: 55%;
    margin: 0 auto;
    line-height: 30px;
}
.about-grids {
    margin-top: 75px;
}
.about-grids h4 {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
}
.aboutimage {
    border: 8px solid #7BC475;
    border-radius: 50%;
    padding: 0;
}
.about-grids p {
    line-height: 30px;
    color: #000;
    font-size: 14px;
}
.about-grid1, .about-grid3 {
    width: 60%;
    text-align: right;
}
.about-grid1 {
    margin-bottom: 75px;
}
.about-grid1 h4, .about-grid3 h4 {
    text-align: right;
}
.about-grid2 {
    width: 60%;
    margin: 0 0 75px 455px;
}
.about-grid2 h4 {
    text-align: left;
}
.aimg:after {
    content: '';
    background: #7BC475;
    width: 3px;
    height: 38%;
    position: absolute;
    bottom: -85px;
    left: 50%;
}
/** // ABOUT **/

/** SERVICES **/
.services {
    background-color: #032f43;
    padding: 75px 0;
    text-align: center;
}
.services h3 {
    font-size: 35px;
    color: #fff;
    padding-bottom: 20px;
    font-weight: 600;
}
.services h6 {
    font-size: 15px;
    color: #f3f6f3;
    font-weight: 300;
    width: 40%;
    margin: 0 auto;
    line-height: 30px;
}
.service-grids {
    margin-top: 75px;
    color: #fff;
}
.services h4 {
    padding: 13px 0;
    font-size: 20px;
    color: #fff;
}
.service-grids-icon {
    width: 30%;
    padding: 20px;
    border: 3px solid #7bc475;
    border-radius: 50%;
    margin: 0 auto;
}
.services .fa {
    font-size: 30px;
    color: #7bc475;
}
.services p {
    font-size: 14px;
    color: #B5B5B5;
    line-height: 30px;
}
.service-grid:hover div.service-grids-icon{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    /*--agileits--*/
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
/** // SERVICES **/

/** TEAM **/
.team {
    padding: 75px 0;
    text-align: center;
}
.team h3 {
    font-size: 35px;
    padding-bottom: 20px;
    color: #000;
    font-weight: 600;
}
.team h6 {
    font-size: 15px;
    color: #000;
}
.theader {
    margin-bottom: 75px;
}
.team img {
    width: 60%;
}
.team h5 {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 700;
}
.team p {
    font-size: 14px;
    margin-bottom: 10px;
}
.team ul {
    margin: 0;
}
.team ul li {
    display: inline;
}
.team ul li a {
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: inline-block;
    border: none;
    color: #000;
}
.team ul li a:hover {
    color: #7bc475;
    transition: 0.5s all ease;
}
/** // TEAM **/

/** Testimonials **/
.testimonials {
    text-align: center;
}
.carousel-caption {
    padding: 0;
    bottom: 62px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 450px;
}
.hangouts img {
    width: 5%;
}
.testimonials p {
    color: #fff;
    font-size: 17px;
    width: 70%;
    margin: 0 auto;
    line-height: 30px;
}
.person {
    margin-top: 30px;
}
.person img {
    width: 23%;
}
.person h5{
    color:#fff;
    margin:15px 0px;
    font-size:16px;
}
.person h6{
    color:#eee;
    font-size:14px;
    font-weight:100;
}
/*--// Testimonials --*/

/*--Events --*/
.events {
    padding: 75px 0;
}
.events h3 {
    color: #000;
    font-size: 35px;
    padding-bottom: 20px;
    font-weight: 600;
}
.events h6 {
    font-size: 15px;
    color: #000;
    width: 60%;
    margin: 0 auto;
    line-height: 30px;
}
.events h4 {
    color: #7bc475;
    margin: 15px 0;
    text-align: left;
}
.grids {
    margin-top: 50px;
}
.etext img {
    width: 60%;
}
.events p {
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    margin-top: 10px;
}
.cal {
    float: left;
    width: 10%;
}
.date {
    float: left;
    width: 90%;
    margin-top: 5px;
}
.date h5 {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-align: left;;
}
/*-- // Events --*/
/*--Map --*/
.map iframe {
    width: 100%;
    height: 500px;
    border: 5px solid #FAFAFA;
}
/*-- //Map--*/

footer {
    height: 450px;
}
.copyright p {
    text-align: center;
}
.contact-grid1 h4, h6 {
    text-align: left;
}
.social-icon-bottom {
    width: 40%;
    float: left;
}
.social-icon-bottom ul li {
    display: inline-block;
}
.social-icon-bottom ul li a {
    width: 50px;
    height: 50px;
    background:url("../img/img-sprite.png") no-repeat 0 0;
    display: inline-block;
    border: none;
}
.social-icon-bottom ul li a.google {
    background:url("../img/img-sprite.png") no-repeat -50px 0;
}
.social-icon-bottom ul li a.twitter {
    background:url("../img/img-sprite.png") no-repeat -100px 0;
}
.social-icon-bottom ul li a.facebook {
    background:url("../img/img-sprite.png") no-repeat -150px 0;
}
.social-icon-bottom ul li a.linkedin:hover {
    background:url("../img/img-sprite2.png") no-repeat 0 0;
}
.social-icon-bottom ul li a.google:hover {
    background:url("../img/img-sprite2.png") no-repeat -50px 0;
}
.social-icon-bottom ul li a.twitter:hover {
    background:url("../img/img-sprite2.png") no-repeat -100px 0;
}
.social-icon-bottom ul li a.facebook:hover {
    background:url("../img/img-sprite2.png") no-repeat -150px 0;
}