
/** RESET CODE **/
body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:focus, a:hover {
    text-decoration: none;
}
input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
p {
    margin:0;
}
ul {
    margin:0;
    padding:0;
}
label {
    margin:0;
}
a:focus, a:hover {
    text-decoration: none;
    outline: none
}
img {
    width: 100%;
}
/** RESET CODE **/

/** HEADER **/
.top-bar {
    padding: 15px 0;
    background-color: #d2d2d2;
}
.logo {
    width: 50%;
    float: left;
    text-align: left;
    margin-top: 6px;
}
.logo a h3 {
    text-align: left;
    color: #000;
    font-size: 44px;
    margin-left: 13px;
}
.header-right {
    width: 50%;
    float: right;
    text-align: right;
}
.phone {
    width: 60%;
    float: left;
    margin-top: 8px;
}
.phone ul li {
    display: inline-block;
}
span.glyphicon.glyphicon-earphone.phone {
    color: #7bc475;
    font-size: 17px;
    top: 4px;
}
.social-icon-top {
    width: 40%;
    float: left;
}
.social-icon-top ul li {
    display: inline-block;
}
.social-icon-top ul li a {
    width: 50px;
    height: 50px;
    background:url("../img/img-sprite.png") no-repeat 0 0;
    display: inline-block;
    border: none;
}
.social-icon-top ul li a.google {
    background:url("../img/img-sprite.png") no-repeat -50px 0;
}
.social-icon-top ul li a.twitter {
    background:url("../img/img-sprite.png") no-repeat -100px 0;
}
.social-icon-top ul li a.facebook {
    background:url("../img/img-sprite.png") no-repeat -150px 0;
}
.social-icon-top ul li a.linkedin:hover {
    background:url("../img/img-sprite2.png") no-repeat 0 0;
}
.social-icon-top ul li a.google:hover {
    background:url("../img/img-sprite2.png") no-repeat -50px 0;
}
.social-icon-top ul li a.twitter:hover {
    background:url("../img/img-sprite2.png") no-repeat -100px 0;
}
.social-icon-top ul li a.facebook:hover {
    background:url("../img/img-sprite2.png") no-repeat -150px 0;
}
.total-navbar {
    background-color: #032f3e;
}
.navbar-default {
    background-color: #032f3e;
    border: none;
}
.navbar {
    border-radius: 0;
    margin: 0;
}
.navbar-right {
    float: none!important;
    margin-right: 0!important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #7bc475;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 23px 64px;
    border-right: 1px solid rgba(232, 232, 232, 0.2);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #7bc475;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #7bc475;
}
.navbar-toggle {
    border-radius: 0;
}
/** END OF HEADER **/

/** BANNER **/
.banner {
    background:url("../img/23.jpg");
    background-size: cover;
    min-height: 740px;
    text-align: center;
}
.banner h1 {
    padding-top: 220px;
    color: #74ff69;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 600;
}
.banner h3 {
    color: #ffffff;
    font-size: 40px;
    margin-top: 10px;
    letter-spacing: 3px;
}
.banner a {
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 50px 10px 20px;
    display: inline-block;
    margin-top: 50px;
    background:url("../img/arrow.png") no-repeat 151px 7px;
    background-size: 15%;
}
.banner a:hover {
    color: #74ff69;
    border: 3px solid #74ff69;
    background:url("../img/carrow.png") no-repeat 151px 7px;
    background-size: 15%
}
.modal-header {
    border: none;
    background: hsla(27, 5%, 33%, 0.27);
}
.modal-header {
    font-size: 20px;
    text-align: center;
}
.modal-body {
    padding: 0 25px 40px 30px;
    background:url("../img/23.jpg") no-repeat ;
    background-size: cover;
}
.modal-body p {
    font-size: 14px;
    line-height: 30px;
}
/** END BANNER **/



